@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Thin.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-ExtraLight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url(fonts/webfonts/Vazirmatn-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

a[href="lobehub.com"],
a[href^="http://lobehub.com"],
a[href="https://lobehub.com?utm_source=chat_preview&utm_content=brand_watermark"],
a[href^="https://www.lobehub.com"],
a[href*="lobehub.com"],
a[href="https://lobehub.com/docs?utm_source=chat_preview"],
span[textContent*="Powered by"],
span[textContent="Powered by"],
span[textContent="Lobe Hub"],
span[textContent*="Lobe Hub"],
li[data-menu-id*="changelog"],
li[data-menu-id*="help"],
div[data-menu-id*="help"]
{display: none !important;}